
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask示例演示</title>
</head>
<body>
<h1>{{ A }}</h1>


<p><a href="/1?data=456">本文本</a>----------(这是一个获取请求接口参数的链接，可以指定任意入参)</p>


<form name='form1' action='1' method='post'>

<input type='hidden' name='data' value='POST返回你指定的参数'/>

<a href='javascript:document.form1.submit();'><font color='#000000'>页面提交任意指定的入参然后返回</font></a>

</form>


<p><a href="/2">本文本</a>----------(这是一个返回接口参数的链接，可以返回指定的任意出参数)</p>
</body>
</html> 